<div class="card">
  <div class="header">
    <div>
      <div style="font-size:18px;font-weight:850">Forbidden</div>
      <div class="muted small">You don’t have access to this page.</div>
    </div>
  </div>
  <div class="body">
    <a class="btn" href="/">Go home</a>
  </div>
</div>

