<div class="card">
  <div class="header">
    <div>
      <div style="font-size:18px;font-weight:850">Not found</div>
      <div class="muted small">The page you requested doesn’t exist.</div>
    </div>
  </div>
  <div class="body">
    <a class="btn primary" href="/">Go home</a>
  </div>
</div>

